<table> 
    <thead>
        <tr>
            <th>N.</th>
            <th>ID</th>
            <th>Titulo</th>
            <th>Director</th>
            <th>Actores</th>
            <th>a単o</th>
            <th>Rese単a</th>
            <th>Link</th>
            <th>Operaciones</th>
            
        </tr>
    </thead>
    <tbody> 
        {{#each trailers}}
            <tr>
                <td>{{@index}}</td>
                <td>{{_id}}</td>
                <td>{{titulo}}</td>
                <td>{{director}}</td>
                <td>{{actores}}</td>
                <td>{{a単o}}</td>   
                <td>{{rese単a}}</td>
                <td>{{link_del_trailer}}</td>
                <td>
                   <a href="/delete/{{_id}}">Eliminar</a>
                    <a href="/edit/{{_id}}">Actualizar</a>
                </td>
            </tr>

        {{/each}}
    </tbody>
</table>
